#game_screen {
    position: relative;
    background-image: url("../images/background/BG.png");
    background-size: 100%;
    height: 360px;
    width: 640px;
    margin: 0 auto;
}

#game_canvas {
    width: 100%;
}

#controller {
    width: 100%;
    padding: 10px;
}